root = true

# =====================================================
# Global
# =====================================================

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{fs,fsi,fsx}]

fsharp_semicolon_at_end_of_line = false
fsharp_space_before_parameter = true
fsharp_space_before_lowercase_invocation = false
fsharp_space_before_uppercase_invocation = false
fsharp_space_before_class_constructor = false
fsharp_space_before_member = false
fsharp_space_before_colon = false
fsharp_align_function_signature_to_indentation = false
fsharp_newline_between_type_definition_and_members = true

# -------------------------------
# Multiline Formatting
# -------------------------------
fsharp_multiline_block_brackets_on_same_column = true
fsharp_record_multiline_formatter = character_width
fsharp_array_or_list_multiline_formatter = character_width
fsharp_keep_max_number_of_blank_lines = 1
fsharp_keep_if_then_in_same_line = true

# -------------------------------
# Functional Style
# -------------------------------
fsharp_prefer_pipeline_over_function_application = true
fsharp_align_nested_match_braces = true
fsharp_alternative_long_member_definitions = false
fsharp_bar_before_discriminated_union_declaration = false
fsharp_align_function_signature_to_indentation = false
fsharp_align_let_bindings_in_declaration_groups = false

# -------------------------------
# Width Rules
# -------------------------------

fsharp_max_if_then_else_short_width = 80
fsharp_max_infix_operator_expression = 120
fsharp_max_value_binding_width = 120
fsharp_max_dot_get_expression_width = 120
fsharp_max_function_binding_width = 120

# -------------------------------
# Strictness
# -------------------------------

fsharp_strict_mode = false

[*.{fsx,sh}]
end_of_line = lf

# =====================================================
# XML / Project Files
# =====================================================

[*.{xml,config,nuspec,props,targets,csproj,fsproj}]
indent_size = 2

# =====================================================
# JSON / Markdown
# =====================================================

[*.{json,md}]
indent_size = 2

# =====================================================
# Shell Scripts
# =====================================================

[*.sh]
end_of_line = lf